src/main/webapp/schemas/GetRisqueChausseeMouillee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="risque" type="risqueType"/>
    <xs:complexType name="risqueType">
        <xs:sequence>
            <xs:element type="xs:int" name="pluie"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>